#order {
    padding: 80px 0;

    h3 {
        font-size: 20px;
        line-height: 15px;


    }

    form {
        padding-top: 1.5rem;

        input {
            margin: 15px 0;
            font-weight: 400;
            font-size: 16px;
            border-radius: 7px;
            border: 1px solid rgb(217, 217, 217);
            width: 90%;
            padding: 10px 20px;
            outline: none;
            resize: vertical;


            &:focus {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }

        h3 {
            padding: 1rem 0;
        }

        textarea {
            margin: 15px 0;
            font-weight: 400;
            font-size: 16px;
            border-radius: 7px;
            border: 1px solid rgb(217, 217, 217);
            width: 95%;
            padding: 10px 20px;
            outline: none;
            resize: vertical;


            &:focus {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }

        button {
            max-width: 300px;
            padding: 1rem 2.4rem;
            border-radius: 40px;
            background-color: rgb(251, 178, 0);
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            transition: all 0.3s linear;

            &:hover {
                background-color: #f22e3e;
            }

            @media (max-width: 992px) {
                padding: 0.8rem 2rem;
                font-size: 1.2rem;
            }

            @media (max-width: 576px) {
                padding: 0.7rem 1.8rem;
                font-size: 1rem;
            }
        }


    }

    .box {
        p {
            font-size: 20px;
            line-height: 15px;
            padding-bottom: 1.5rem;
        }

        h3 {
            font-size: 20px;
            line-height: 15px;
            padding-bottom: 1.5rem;
        }

        .order-item {
            display: flex;
            gap: 1rem;


            .image {
                padding-bottom: 15px;
                width: 100px;

                img {
                    max-width: 100%;
                }
            }

            .title {
                padding-top: 20px;
                font-size: 19px;

                h4 {
                    font-weight: 600;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 700;
                    color: #777777;
                    font-weight: 500;
                    line-height: 25px;
                }
            }
        }

        .total {
            font-size: 19px;
            padding-top: 15px;
            border-top: 1px solid rgba(128, 128, 128, 0.226);

            button {

                max-width: 300px;
                padding: 0.5rem 1rem;
                border-radius: 40px;
                background-color: rgb(251, 178, 0);
                color: white;
                font-size: 1rem;
                font-weight: 600;
                border: none;
                transition: all 0.3s linear;
                margin-top: 1rem;

                &:hover {
                    background-color: #f22e3e;
                }

                @media (max-width: 992px) {
                    padding: 0.8rem 2rem;
                    font-size: 1.2rem;
                }

                @media (max-width: 576px) {
                    padding: 0.7rem 1.8rem;
                    font-size: 1rem;
                }




            }

            .subtotal {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4 {
                    font-size: 700;
                    color: #777777;
                    font-weight: 500;
                    line-height: 25px;
                }

                p {
                    color: #777777;
                }
            }

            .total1 {
                padding-top: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    color: #777777;
                }

                h4 {
                    font-size: 700;
                    color: #777777;
                    font-weight: 700;
                    line-height: 25px;
                }
            }
        }

        .payment-options {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h4 {
                padding-top: 2rem;
                padding-bottom: 1rem;
                font-size: 30px;
                color: black;
                font-weight: 500;

                line-height: 25px;
            }

            label {
                font-size: 20px;
                font-weight: 500;
                color: rgba(94, 93, 93, 0.774);
            }

            input[type="radio"] {
                appearance: none;
                width: 17px;
                height: 17px;
                border: 2px solid #f2b200;
                border-radius: 50%; 
                outline: none;
                cursor: pointer;
                margin-right: 10px;

                &:checked {
                    
                    background-color: #f2b200; 
                    
                }
            
        }
    }
    }
}
@media (max-width: 759px) {
    #order .box h3{
        padding-top: 1rem;
    }
}