header {
    background-color: white;
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: background-color 0.3s ease;

    &.scrolled {
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .links.active {
        color: red; 
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 16px;

        ul {
            display: flex;
            align-items: center;
            gap: 30px;

            &.active {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 70px;
                left: 0;
                right: 0;
                background-color: white;
                padding: 20px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
                z-index: 1000;
            }

            li {
                font-family: "Montserrat", sans-serif;

                .links {
                    color: black;
                    font-weight: 600;
                    font-size: 18px;
                    display: block;
                    cursor: pointer;
                    transition: all 0.4s ease;

                    &:hover {
                        color: rgb(244, 81, 92);
                    }
                }
            }

            .dropdown-content {
                position: relative;
                font-weight: 600;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.4s ease;

                &:hover {
                    color: rgb(242, 46, 62);
                }

                .dropdown {
                    background-color: rgb(251, 178, 0);
                    position: absolute;
                    top: 63px;
                    left: 0;
                    border-radius: 10px;
                    padding: 2.3rem;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: all 0.4s ease;
                }

                &:hover .dropdown {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }

                li .link {
                    color: white;
                    font-size: 15px;
                    transition: all 0.4s ease;

                    &:hover {
                        color: rgb(242, 46, 62);
                    }
                }
            }


        }
    }

    .basket {
        .links {
        border: none;
        background-color: white;
            sub {
                background-color: red;
                padding: 0px 3px;
                border-radius: 50%;
                font-size: 11px;
                color: white;
            }
        }
    }

    .nav-hamburger {
        display: none;
        font-size: 30px;
    }

    @media screen and (max-width: 768px) {
        .nav-hamburger {
            display: block;
            margin-right: 1.5rem;
        }

        .basket {
            display: block;
            margin-right: 1.5rem;
        }

        nav ul {
            display: none;
        }
    }

}