#card {

    padding-top: 150px;
    margin-bottom: 3rem;
    form {

        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            color: rgb(251, 178, 0);
            padding-top: 1rem;
            text-align: center;

        }
        .cardTitle {
            h1 {
                padding-top: 50px;
                text-align: center;
                padding-bottom: 20px;
                color: rgb(251, 178, 0);
                font-size: 25px;
            }
        }
        input {
            background-color: rgb(245, 245, 245);
            margin-top: 1.5rem;
            width: 70%;
            font-weight: 400;
            font-size: 15px;
            // border-radius: 8px;
            border: 1px solid rgba(251, 180, 0, 0.473) ;
            padding: 10px 20px;
            outline: none;
            resize: vertical;

            &:focus {
                border: 1px solid rgba(128, 128, 128, 0.267);
            }

        }
            .input1 {
                display: flex;
                gap: 20px;
                width: 70%;

            }

        button {
            margin: 1.5rem 0;
            padding: 0.6rem 3rem;
            // border-radius: 8px;
            color: white;
            background-color: rgb(251, 178, 0);
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            transition: all 0.3s linear;
            width: 70%;

        }

    }

}