#banner {
    padding-top: 150px;

    .banner-title {
        padding-bottom: 20px;
        margin-left: 100px;
        margin-top: 100px;
        
        h3 {
            max-width: 220px;
            font-size: 28px;
            line-height: 40px;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p {
            max-width: 330px;
            color: #777777;
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
        }
     
    }
    .bannerImg{
        margin-top: 16%;
        margin-left: 5%;
        width: 150px;
        img{
            width: 100%;
        }
     }
}