#consultation {
    padding-top: 100px;
    padding-bottom: 70px;

    .forms {
        form {
            margin: 0 auto;
            max-width: 600px;

            .res_title {
                .xet {
                    display: flex;
                    align-items: center;

                    h5 {
                        color: rgb(242, 46, 62);
                        margin-bottom: 10px;
                        position: relative;
                        font-size: 22px;
                        line-height: 38px;
                        font-weight: 600;
                    }

                    div {
                        border-bottom: 2px solid rgb(242, 46, 62);
                        width: 80px;
                        margin-bottom: 8px;
                        margin-left: 10px;
                    }
                }

                h2 {
                    font-size: 40px;
                    line-height: 55px;
                    font-weight: 700;
                    color: #111111;
                    max-width: 509px;
                    margin-bottom: 20px;

                    @media (max-width: 992px) {
                        font-size: 36px;
                        line-height: 48px;
                    }

                    @media (max-width: 768px) {
                        font-size: 32px;
                        line-height: 44px;
                    }

                    @media (max-width: 576px) {
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
            }

            // .input {
            //     margin: 20px 0;

                input,textarea {
                    margin: 15px 0;
                    font-weight: 400;
                    font-size: 16px;
                    border-radius: 7px;
                    border: 1px solid rgb(217, 217, 217);
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    resize: vertical;

                    &:focus {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                }


            
        }

        // textarea {
        //     padding: 10px 20px;
        //     outline: none;
        //     resize: vertical;
        //     font-weight: 400;
        //     font-size: 16px;
        //     border-radius: 7px;
        //     border: 1px solid rgb(217, 217, 217);
        //     width: 100%;

        //     &:focus {
        //         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        //     }
        // }

        button {
            max-width: 300px;
            padding: 1rem 2.4rem;
            border-radius: 40px;
            background-color: rgb(251, 178, 0);
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            transition: all 0.3s linear;

            &:hover {
                background-color: #f22e3e;
            }

            @media (max-width: 992px) {
                padding: 0.8rem 2rem;
                font-size: 1.2rem;
            }

            @media (max-width: 576px) {
                padding: 0.7rem 1.8rem;
                font-size: 1rem;
            }
        }

    }

    .images {
        text-align: center;

        .imageres {
            margin-top: -15%;
            width: 500px;

            img {
                max-width: 100%;
                height: auto;
            }

            @media (max-width: 992px) {
                width: 350px;
            }

            @media (max-width: 768px) {
                width: 250px;
            }

            @media (max-width: 576px) {
                width: 180px;
            }
        }
    }

    .res_image {
        object-fit: cover;
        border-radius: 40px;
        overflow: hidden;

        img {
            height: auto;
            max-width: 100%;
            transition: .4s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}