#register {
    background-color: rgb(251, 178, 0);
    padding-top: 150px;
    padding-bottom: 50px;

    .registerTitle {
        h1 {
            text-align: center;
            padding-bottom: 20px;
            color: white;
        }
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .link {
            padding-bottom: 20px;
            color: white;
            font-size: 16px;

        }

        button {
            max-width: 300px;
            padding: 0.5rem 3rem;
            border-radius: 40px;
            background-color: white;
            color: rgb(251, 178, 0);
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            transition: all 0.3s linear;

            @media (max-width: 992px) {
                padding: 0.8rem 2rem;
                font-size: 1.2rem;
            }

            @media (max-width: 576px) {
                padding: 0.7rem 1.8rem;
                font-size: 1rem;
            }
        }

        input {
            margin: 15px 0;
            font-weight: 400;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid rgb(217, 217, 217);
            width: 50%;
            padding: 10px 20px;
            outline: none;
            resize: vertical;

            &:focus {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }
}