#addblog {

    form {
        h1 {
            padding: 0.5rem 0;
            text-align: center;
            color: rgb(251, 178, 0);
            font-size: 30px;
        }

        span {
            text-align: center;
        }

        input {
            font-weight: 400;
            font-size: 16px;
            border-radius: 7px;
            border: 1px solid rgb(217, 217, 217);
            width: 95%;
            height: 35px;
            outline: none;
            padding-left: 20px;
            margin-bottom: 15px;
            margin-top: 10px;

            &:focus {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }

        button {

            margin-bottom: 2rem;
            margin-top: 15px;
            max-width: 300px;
            padding: 0.5rem 1.3rem;
            border-radius: 40px;
            background-color: white;
            color: rgb(251, 178, 0);
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            transition: all 0.3s linear;
            &:hover {
               background-color: rgb(251, 178, 0) ;
               color: white;
            }
        }
        select{
            color: rgb(109, 108, 108);
            font-weight: 400;
            font-size: 16px;
            border-radius: 10px;
            border: 1px solid rgb(217, 217, 217);
            outline: none;
            padding: 15px;

            &:focus {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
         
        }
    }
}