#categories{
    .box {
        border: 1px solid rgb(228, 222, 217);
        border-radius: 30px;

        padding: 1.7rem;

        img {
            max-width: 100%;
        }

        .cardTitle {
            padding: 1.5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            text-align: left;
            color: #777777;
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
        }

        button {
            display: flex;
            margin: 1.5rem 0;
            border-radius: 40px;
            background-color: rgb(251, 178, 0);
            color: white;
            font-weight: 600;
            border: 1px solid rgb(251, 178, 0);
            font-size: 14px;
            padding: 5px 17px;
            transition: all 0.3s linear;
            padding-bottom: 0.8rem;

            &:hover {
                background-color: #f22e3e;
            }
            border: none;

            .links {
                color: white;

                .shophome {

                    margin-right: 10px;
                }
            }
        }

    }
}