#categories {
    padding: 100px 0;

    .categories-up {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        width: 100%;

        button {
            padding: 1rem 2rem;
            background-color: white;
            color: rgba(128, 128, 128, 0.693);
            border: 1px solid rgba(128, 128, 128, 0.363);
            font-size: 1rem;
            font-weight: 600;
            border-radius: 35px;
            transition: all 0.3s linear;
            margin-top: 0.4rem;

            &:hover,
            &.active {
                background-color: rgb(251, 178, 0);
                color: white;
                border: none;
            }

            &:focus {
                outline: none;

            }
        }
    }

    .div{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        padding-bottom: 50px;
       
        form{
            input{
                font-weight: 400;
                font-size: 16px;
                border-radius: 30px;
                border: 1px solid rgb(217, 217, 217);
                width: 90%;
                height: 50px;
                outline: none;
                padding-left: 20px;

                &:focus {
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
        }
        select{
            font-weight: 400;
            font-size: 16px;
            border-radius: 30px;
            border: 1px solid rgb(217, 217, 217);
            outline: none;
            padding: 15px;

            &:focus {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
         
        }
    }



    .box {
        max-width: 391px;
        background-color: #fff;
        border: 1px solid rgb(228, 222, 217);
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 1.7rem;
        margin-right: 25px;

        img {
            max-width: 100%;
            border-radius: 10px;
        }

        .cardTitle {
            padding: 1.5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-weight: 600;
                color: black;
            }
        }

        p {
            text-align: left;
            color: #777777;
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
        }
    }

    button {
        display: flex;
        margin: 1.5rem 0;
        border-radius: 40px;
        background-color: rgb(251, 178, 0);
        color: white;
        font-weight: 600;
        border: 1px solid rgb(251, 178, 0);
        font-size: 14px;
        padding: 5px 17px;
        transition: all 0.3s linear;
        padding-bottom: 0.8rem;

        &:hover {
            background-color: #f22e3e;
        }

        border: none;

        .links {
            color: white;

            .shophome {
                margin-right: 10px;
            }
        }
    }

    // }
}