#ourStory {
    .image-rigth {
        padding-top: 2rem;

        img {
            border-radius: 40px;
            height: auto;
            max-width: 100%;
            border: none;
        }


    }
}

#reservation {
    .images {
        .res_image {
            object-fit: cover;
            border-radius: 40px;
            overflow: hidden;
            img {
                height: auto;
                max-width: 100%;
                transition: .4s;
                &:hover {
                    transform: scale(1.1);
                }
            }

        }
    }
}