#ourStory {
    .image-rigth {
        padding-top: 2rem;

        img {
            border-radius: 40px;
            height: auto;
            max-width: 100%;
            border: none;
        }


    }
}

