#reservation {
    padding-top: 50px;

   

    .forms {
        form {
            margin: 0 auto;
            max-width: 600px;

            .res_title {
                .xet {
                    display: flex;
                    align-items: center;

                    h5 {
                        color: rgb(242, 46, 62);
                        margin-bottom: 10px;
                        position: relative;
                        font-size: 22px;
                        line-height: 38px;
                        font-weight: 600;
                    }

                    div {
                        border-bottom: 2px solid rgb(242, 46, 62);
                        width: 80px;
                        margin-bottom: 8px;
                        margin-left: 10px;
                    }
                }

                h2 {
                    font-size: 40px;
                    line-height: 55px;
                    font-weight: 700;
                    color: #111111;
                    max-width: 509px;

                    @media (max-width: 992px) {
                        font-size: 36px;
                        line-height: 48px;
                    }

                    @media (max-width: 768px) {
                        font-size: 32px;
                        line-height: 44px;
                    }

                    @media (max-width: 576px) {
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
            }

            .input {
                margin: 40px 0;

                input {
                    font-weight: 400;
                    font-size: 16px;
                    border-radius: 7px;
                    border: 1px solid rgb(217, 217, 217);
                    width: 90%;
                    height: 50px;
                    outline: none;
                    padding-left: 20px;

                    &:focus {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                }
            }

            button {
                max-width: 300px;
                padding: 1rem 2.4rem;
                border-radius: 40px;
                background-color: rgb(251, 178, 0);
                color: white;
                font-size: 1.3rem;
                font-weight: 600;
                border: none;
                transition: all 0.3s linear;
               

                &:hover {
                    background-color: #f22e3e;
                }

                @media (max-width: 992px) {
                    padding: 0.8rem 2rem;
                    font-size: 1.2rem;
                }

                @media (max-width: 576px) {
                    padding: 0.7rem 1.8rem;
                    font-size: 1rem;
                }
            }
        }
    }

    .images {
        text-align: center;
        
        .leaf {
            // margin-left: 20%;
            // transform: rotate(240deg);
            // width: 80px;
            img{
                max-width: 100%;
            }
            @media (max-width: 992px) {
                width: 70px;
            }

            @media (max-width: 768px) {
                width: 50px;
            }

            @media (max-width: 576px) {
                width: 30px;
            }
        }

        .imageres {
            margin-top: -10%;
            width: 500px;

            img {
                max-width: 100%;
                height: auto;
            }

            @media (max-width: 992px) {
                width: 350px;
            }

            @media (max-width: 768px) {
                width: 250px;
            }

            @media (max-width: 576px) {
                width: 180px;
            }
        }
    }
}
