
#login {
    padding-top: 150px;
    margin-bottom: 2.5rem;
   

    .loginTitle {
        h1 {
            text-align: center;
            padding-bottom: 20px;
            color: rgb(251, 178, 0);
        }
    }
    form {

        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            color: rgb(251, 178, 0);
            padding-top: 1rem;
            text-align: center;
          
        }

        input {
            background-color: rgb(245, 245, 245);
            margin-top: 2rem;
            width: 70%;
            font-weight: 400;
            font-size: 15px;
            border-radius: 8px;
            border: none;
            width: 50%;
            padding: 20px 20px;
            outline: none;
            resize: vertical;

            &:focus {
                border: 1px solid rgba(128, 128, 128, 0.267);
            }
        }

        button {
            margin: 1.5rem 0;
            padding: 0.6rem 3rem;
            border-radius: 8px;
            color: white;
            background-color: rgb(251, 178, 0);
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            transition: all 0.3s linear;
            width: 50%;
           
        }

    }

}